<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{% block title %}Samson Spooler{% endblock %}</title>
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<div class="navbar">
				<div class="navbar-inner">
					<a class="brand" href="/">Samson Spooler</a>
					<ul class="nav">
						<li><a href="/thequeue/">Print Queue</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list">
							<li class="nav-header">Print It</li>
							<li><a href="/thequeue/new">Add It</a></li>
							<li><a href="/thequeue/list">See It</a></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div> <!--/well /sidebar-nav-->
				</div> <!-- /span3 -->
				<div class="row">
					<div class="span9">
			{% block content %}
					<h1>Hello World!</h1>
					<p>Hello, World!</p>
			{% endblock %}
					</div>
				</div>
			</div><!-- /row -->
			<hr>
			<footer>
				<small><p>Just fucking do it.</p></small>
			</footer>
		</div>
		<script src="http://code.jquery.com/jquery-latest.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	</body>
</html>
